.add-habit-modal {
	background-color: var(--secondary);
	padding: 5px;
}

.modal-header {
	border: none;
}

.modal-title {
	font-weight: 600;
}

.modal-form {
	display: flex;
	flex-direction: column;
}
.modal-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.root-add-button,
.modal-add-button {
	background-color: var(--primary);
}

.root-add-button {
	width: 30%;
	transition: scale 0.1s ease-in-out;
}

.modal-add-button {
	transition: scale 0.1s ease-in-out;
}

.root-add-button:hover,
.modal-add-button:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	scale: 1.05;
}
.modal-add-button {
	width: 30%;
	max-width: 150px;
}

input {
	margin-bottom: 5px;
}

label {
	margin-bottom: 2px;
}

select,
input {
	background-color: white;
	color: black;
	border: none;
	border-radius: 5px;
}
