/* .card {
	background-color: var(--secondary);
	width: 450px;
	height: 50px;

	display: inline-flex;
	flex-direction: row;
	align-items: center;
} */

.habit-name {
	font-size: 18px;
	width: 30%;
	margin: 0;
	padding: 5px;
	cursor: pointer;
}

.habit-name:hover {
	font-weight: 600;
}

.history-container {
	width: 70%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.check-mark,
.x-mark {
	scale: 1.3;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	width: 100%;
	transition: scale 0.1s ease-in-out;
}

.check-mark:hover,
.x-mark:hover {
	scale: 1.6;
}

.x-mark {
	color: darkgray;
}

.hidden {
	opacity: 0;
}
