.card {
	background-color: var(--secondary);
	width: 900px;
	height: 50px;

	display: inline-flex;
	flex-direction: row;
	align-items: center;
	padding-right: 10px;
}

.habit-title {
	font-size: 18px;
	width: 30%;
	margin: 0;
	padding: 5px;
}

.dates-container {
	width: 70%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navigate {
	cursor: pointer;
	color: var(--primary);
	transition: scale 0.1s ease-in-out;
	scale: 1.2;
}

.navigate:hover {
	scale: 1.6;
}
